@import './globals.scss';

$cardColor: #d8d8d8;
$accent: #01bff8;
$accentLight: #e2f8ff;
$accentDark: #0127ce;
.card {
    width: 700px;
    margin-left: auto; 
    margin-right: auto;
}
.card__label {
    text-align: left;
    background: $accent;
    color: white;
    max-width: 260px;
    padding: 15px;
    font-weight: 500;
    font-family: Manrope;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.card__item {
    background: $cardColor;
    min-height: 200px;
    margin-left: auto; 
    margin-right: auto;
}
.card__link  {
    background: $accentDark;
    color:white !important;
    height: 50px; text-align: center;
    border-radius: 5px;
    display: flex; 
    justify-content: center;
    align-items: center;
}


.card-style {
    font-family: Manrope;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    box-shadow: 2px 2px 6px #c3c3c3;
}
.card-style div {
    pointer-events: none;
}
.card-style .link-style a {
    pointer-events: all;
}


.slideshow {
    display: flex; justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
}
.small-card {
    display: flex;
    flex-shrink: 0;
}
.small-card__inner {
    width: 85%;
    height: 80%;
    margin-top: 2.5%;
    margin-left: auto; 
    margin-right: auto;
    border: none; background: transparent;
}
.small-card__inner--active {
    background: $accentLight;
}

.filter-btns {
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.filter-btns__item {
    font-family: Manrope;
    padding: 7px 25px;
    text-transform: capitalize;
    background: $accent;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #c3c3c3;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}
.filter-btns--active {
    background: $accentDark;
}
.highlighted {
    color: $accent;
    background: white; 
    width: 24px; height:24px;
    border-radius: 50%;
    font-weight:600;
    display: flex; justify-content: center;
    align-items: center;
    pointer-events: none;
}

.title-section {
    display: flex; justify-content: center;
    font-family: Manrope;
    font-size: 30px;
    gap: 15px;
    margin-bottom: 40px;
}
.title-section__wording {
    text-transform: capitalize;
}
.title-section__number {
    
}


.loader {
    font-family: Manrope;
    font-size: 40px;
    display: flex; justify-content: center;
     align-items: center;
     width: 100%; height: 100vh;
}


@media (max-width: 1000px) {
    .title-section {
        flex-direction: column;
    }
    .card {
        width: 80%;
    }
    .card__item {
        width: none !important;
    }
}
@media (max-width: 900px) {
    .card-style {
        flex-direction: column;
        align-items: center;
        flex-wrap: none !important;
        justify-content: center;
    }
    .text-center-mob {
        text-align: center;
    }
    .w-1-3 {
        width: 100%;
    }
    .link-style {
        order: 4;
        text-align: center;
    }
    .h-half {
        height: auto;
    }
    .small-card__inner {
        width: 90%;
    }
    .card__label {
        max-width: none;
    }
}